<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
</head>
<body>
  <div id="chat">
    <input type="text" id="username" placeholder="Ingresa tu nombreziño">
  <div id="messages">
    <div class="message">CondePloxiano</div>
    <div class="message">Jimiacrota</div>
  </div>
  <div id="writing"></div>
  <textarea id="writemessage" placeholder="Ingrese su mensaje"></textarea>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket=io()
  </script>
</body>
</html>
